:root {
  /* generic */
  --gutterSm: 0.4rem;
  --gutterMd: 0.8rem;
  --gutterLg: 1.6rem;
  --gutterXl: 2.4rem;
  --gutterXx: 7.2rem;
  --colorPrimary400: #E8E8E8;;
  --colorPrimary600: #c8c8c8;
  --colorPrimary800: #686868;
  --fontFamily: "Dosis", sans-serif;
  --fontSizeSm: 1.2rem;
  --fontSizeMd: 1.6rem;
  --fontSizeLg: 2.1rem;
  --fontSizeXl: 2.8rem;
  --fontSizeXx: 3.6rem;
  --lineHeightSm: 1.1;
  --lineHeightMd: 1.8;
  --transitionDuration: 300ms;
  --transitionTF: cubic-bezier(0.645, 0.045, 0.355, 1);

   /* floated labels */
  --inputPaddingV: var(--gutterMd);
  --inputPaddingH: var(--gutterLg);
  --inputFontSize: var(--fontSizeSm);
  --inputLineHeight: var(--lineHeightSm);
  --labelScaleFactor: 0.8;
  --labelDefaultPosY: 50%;
  --labelTransformedPosY: calc(
    (var(--labelDefaultPosY)) - 
    (var(--inputPaddingV) * var(--labelScaleFactor)) - 
    (var(--inputFontSize) * var(--inputLineHeight))
  );
  --inputTransitionDuration: var(--transitionDuration);
  --inputTransitionTF: var(--transitionTF);
}

/* Resetting margins for different browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
}

/* BEGIN NAV BAR (Change later to bootstrap?) */
/* Add a black background color to the top navigation */
.topnav {
  z-index: 900;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #333;
  overflow: hidden;
  height: 5%;
}

/* Style the links inside the navigation bar */
.topnav ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  height: 100%;
}
.topnav li {
  display: inline;
}

.topnav li a {
  height: 100%;
  padding: 10px 14px;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
}
.topnav li.navlogin,.topnav li.navlogin a {
  float: right;
  height: 100%;
}
/* Change the color of links on hover */
.topnav li:hover {
  background-color: #ddd;
  color: black;
}
/* Add a color to the active/current link */
.topnav li.active a {
  background-color: #686868;
  color: white;
}
/* END OF NAV BAR */

/* .map-style{
  position: relative;
  width: 100%;
  height: 95vh;
} */

#mapid {
  position: absolute; 
  top:4vh; 
  bottom:0; 
  right: 0; 
  left: 0; 
  width:100%;
}

.advancedSearchContainer {
  position: fixed;
  top: 20%;
  right: 0px;
  height: 250px;
  background-color:#cfcccc;
  z-index: 4000;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  width: 40%;
  transition: transform 0.2s linear;
  transform: translate3d(99.50%,0,0);
}
.advancedSearchContainer.open{
  transform: translate3d(0,0,0);
}

.statisticsContainer {
  position: fixed;
  top: 34%;
  right: 0%;
  height: 64%;
  background-color:#cfcccc;
  z-index: 5000;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  width: 66%;
  transition: transform 0.2s linear;
  transform: translate3d(99.50%,0,0);
}
.statisticsContainer.open{
  transform: translate3d(0,0,0);
}
.statisticsContainer.open2{
  transform: translate3d(0,0,0);
  position: fixed;
  width: 92.5%;
  height: 92%;
  top: 8%;
  padding: 10px;
  right: 0px;
  z-index: 5000;
  background-color:#cfcccc;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s linear;
}

.infoContainer {
	position:fixed; 
  /* top: 25px;  */
  top: 8%;
	right:0px; 
	height:90%;
	z-index: 3000;
	border-radius: 5px;
	padding: 10px;
  background-color:#E8E8E8;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  width: 40%;
  transform: translate3d(0,0,0);
  transition: transform 0.2s linear;
}

.infoContainer.closed{
  /* maybe a bit hardcoded hiding the container*/
  /* right: -1000px; */
  transform: translate3d(99.50%,0,0);
}

.infoContainerButton, 
.advancedSearchContainerButton, 
.statisticsContainerButton{
  position: absolute;
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
}

.infoContainerButton {
  left: -54px;
  top: 15px;
  width: 70px;
  height: 30px;
  background-color: #14a57a;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px; 
}

.advancedSearchContainerButton {
  left: -58px;
  top: 20px;
  width: 80px;
  height: 30px;
  background-color: #1149b3;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px; 
}

.statisticsContainerButton {
  left: -71px;
  top: 36px;
  width: 110px;
  height: 30px;
  background-color: #cc2a02;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px; 
}

#advsearch-button {
  border-radius: .25rem !important;
}

.Input {
  position: relative;
  /* border: 2px solid green; */
  padding-bottom: 10px;
}
	
.Input-text {
  display: block;
  float: left;
  /* width: 240px; */
  width: 30%;
  margin-right: 8px;
  margin-left: 20%;
  padding: var(--inputPaddingV) var(--inputPaddingH);
  color: inherit;
  font-family: inherit;
  font-size: var(--inputFontSize);
  font-weight: inherit;
  line-height: var(--inputLineHeight);
  border: none;
  border-radius: 0.4rem;
  transition: box-shadow var(--transitionDuration);
  
  /*TODO: webkit */
  box-sizing: border-box;
}

.go-button {
  display: block;
  font-size: var(--inputFontSize);
  font-weight: inherit;  
  padding: var(--inputPaddingV) var(--inputPaddingH);
  background-color: #c8c8c8;
  border-radius: 5px;
  /* width: 240px; */
  width: 30%;
  height: 46px;
}

.Input-text:focus {
  outline: none;
  background-color: white;
  border: 3px solid lightskyblue;
  /* box-shadow: 0.2rem 0.8rem 1.6rem var(--colorPrimary600); */
}

/* .Input-label {
  display: block;
  position: absolute;
  bottom: 50%;
  left: 1rem;
  color: red;
  font-family: inherit;
  font-size: var(--inputFontSize);
  font-weight: inherit;
  line-height: var(--inputLineHeight);
  opacity: 0;
  transform: 
    translate3d(0, var(--labelDefaultPosY), 0)
    scale(1);
  transform-origin: 0 0;
  transition:
    opacity var(--inputTransitionDuration) var(--inputTransitionTF),
    transform var(--inputTransitionDuration) var(--inputTransitionTF),
    visibility 0ms var(--inputTransitionDuration) var(--inputTransitionTF),
    z-index 0ms var(--inputTransitionDuration) var(--inputTransitionTF);
} */

.Input-text:placeholder-shown + .Input-label {
  visibility: hidden;
  z-index: -1;
}

.Input-text:not(:placeholder-shown) + .Input-label,
/* .Input-text:focus:not(:placeholder-shown) + .Input-label {
  visibility: visible;
  z-index: 1;
  opacity: 1;
  transform:
    translate3d(0, var(--labelTransformedPosY), 0)
    scale(var(--labelScaleFactor));
  transition:
    transform var(--inputTransitionDuration),
    visibility 0ms,
    z-index 0ms;
} */

.Object-desc {
  position: relative;
  margin-left: 20px;
  float: left;
  width: auto;
  /* border: 2px solid red; */
}

/* .leaflet-control-zoom {
  top: 50px;
} */

#pieChart svg text {
  font-size: 9px !important;
}

.datatable {
  margin: 0 auto;
  widows: 100%;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap: break-word;
  font-size: 12px;
}
.dataTables_info, .dataTables_paginate, .dataTables_filter {
  font-size: 12px;
}

/* #progress {
  display: none;
  position: absolute;
  z-index: 5000;
  left: 400px;
  top: 300px;
  width: 200px;
  height: 20px;
  margin-top: -20px;
  margin-left: -100px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
  padding: 2px;
}

#progress-bar {
  width: 0;
  height: 100%;
  background-color: #76A6FC;
  border-radius: 4px;
} */

#tooltip {
  display: none;
  position: absolute;
  background: #666;
  color: white;
  opacity: 0.8;
  padding: 5px;
  border: 1px dashed #999;
  font-family: sans-serif;
  font-size: 12px;
  height: 30px;
  line-height: 20px;
  z-index: 1000;
}

.ui-autocomplete {
  position: fixed;
  background:inherit;
  z-index: 6002;
  max-height: 200px;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
  border: 1px solid lightgray;
  position: fixed;
  z-index: 6002;
  height: 200px;
  overflow-x: hidden;
  background:inherit;
}

.ui-autocomplete .ui-menu-item {
  padding: 5px 10px;
}

.ui-autocomplete .ui-menu-item:hover {
  background-color: lightblue;
  cursor: pointer;
}

.ui-helper-hidden-accessible {
  display: none
}

.ui-widget fieldset, 
.statisticsContainer fieldset {
  border: 1px solid #333;
  padding: 14px 18px;
}

.ui-widget legend,
.statisticsContainer legend {
  text-align: center;
  width: 250px;
  font-size: 90%;
  background-color: #333;
  color: #ffffff;
  padding: 0.2em 0.5em;
}

.dropdown-menu {
  z-index: 4002;
}

#search-message {
  color: #cc2a02;
}

.pieChart-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 45%;
  z-index: 9999;
  background: url('./images/loader-pie.gif') 50% 50% no-repeat rgb(232,232,232);
}

.loader {
 position: fixed;
 left: 0px;
 top: 0px;
 width: 100%;
 height: 100%;
 z-index: 9999;
 background: url('./images/loader.gif') 50% 50% no-repeat rgb(232,232,232);
}

.leaflet-control-container .leaflet-top {
  top: 20px !important;
}

#btn_edit {
  padding: .200rem .30rem !important;
  font-size: 12px !important;
}

.editEntity {
  font-size: 12px !important;
  border: 1px dotted #000;
  border-radius: 5px;
  background-color: #cfcccc;
  position: fixed;
  width: 400px;
  height: 420px;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 20px;
  z-index: 6000;
  display: none;
}