<%include ./partials/header.ejs %>
<link rel="stylesheet" type="text/css" href="/stylesheet/histogram.css" />
<link rel="stylesheet" type="text/css"
  href="https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.4/b-html5-1.5.4/datatables.min.css" />
<link rel="stylesheet" type="text/css" href="/stylesheet/src/MarkerCluster.css" />
<link rel="stylesheet" type="text/css" href="/stylesheet/src/MarkerCluster.Default.css" />
<link rel="stylesheet" type="text/css" href="/stylesheet/src/SwitcherDatatable.css" />
<link rel="stylesheet" type="text/css" href="/stylesheet/src/leaflet-measure-path.css" />
</head>

<body>
  <%include ./partials/nav.ejs %>
  <%if(localUser){%>
  <input class="role" type="hidden" value="<%=localUser.isadmin || true%>" />
  <%}%>
  <div class="loader"></div>
  <div class="sideBarContainer">
    <div id="sideBar">
      <div class="sideBarTitle">Query Result<span class="sideBarCloseBtn" data-toggle="tooltip" data-placement="right" title="Cancel query">×</span></div>
      <div class="sideBarContent">
        <div id="sideBarLoader" style="display: none;">
          <img alt="Loading..." class="loaderIcon" src="/stylesheet/images/loader.gif">
        </div>
        <ul class="query-result-list"></ul>
      </div>
    </div>
    <div id="roadDesc">
      <div class="roadDescTitle">
        Description<span class="backBtn" data-toggle="tooltip" data-placement="right" title="Go Back">&#11176</span>
      </div>
      <div class="roadDescContent"></div>
      <div class="row btnContainer">
        <div class="col-sm-12"><button class="btn btn-primary btn-block queryRoadIDCounty">Query road ID on County</button></div>
        <div class="col-sm-12"><button class="btn btn-primary btn-block queryRoadID">Query road ID</button></div>
      </div>
    </div>
  </div>

  <div class='mapContainer'>
      <div id="mapid"></div>
      <div id="map-draw-tooltip"></div>
  </div>
  <%if(localUser && (localUser.isadmin || true)){%>
  <%include ./partials/editModal/editModal.ejs %>
  <%}else{%>
  <%include ./partials/editModal/editModalView.ejs %>
  <%}%>
  <div class='infoContainer'>
    <button class='infoContainerButton'>MAIN</button>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="search-description">Default</div>
          <!-- <div class="Object-desc"></div> -->
        </div>
        <div class="col-sm-12 col-md-12">
          <div class="pieChart-loader"></div>
          <div id="pieChart"></div>
          <div id="pieChartMatchCD" style="display:none"></div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="text-sm-left">
            <a href="javascript:void(0)" class="btn btn-link legendButton">Legend</a>
          </div>
        </div> 
        <div class="col-sm-4 col-md-4">
          <div class="text-sm-center">
            <a href="javascript:void(0)" class="btn btn-link togglePieBtn">MatchCD</a>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="text-sm-right">
            <a href="javascript:void(0)" class="btn btn-link statisticsContainerButton">More statistics...</a>
          </div>
        </div>

        <div class="col-sm-12 col-md-12">
          <div class="datatable-wrapper">
            <table id="jq_datatable" class="datatable stripe compact"></table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='advancedSearchContainer'>
    <button class='advancedSearchContainerButton'>SEARCH</button>
    <div class="container mt-3">
      <div class="input-group col-md-12 mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Company Name</span>
        </div>
        <input type="text" id="adv_CONAME" class="form-control" placeholder="e.g. CUNY">
      </div>
      <div class="input-group col-md-12 mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">NAICS</span>
        </div>
        <input type="text" id="adv_NAICSDS" class="form-control" placeholder="e.g. Financial">
        <div class="input-group col-md-6">
          <div class="input-group-prepend">
            <span class="input-group-text">SIC</span>
          </div>
          <input type="text" id="adv_PRMSICDS" class="form-control" placeholder="OPTIONAL">
        </div>
      </div>
      <div class="input-group col-md-12 mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Road No.</span>
        </div>
        <input type="text" id="adv_roadNo" class="form-control" placeholder="e.g. 87">
        <div class="input-group col-md-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Signing</span>
          </div>
          <input type="text" id="adv_roadSigning" class="form-control" placeholder="e.g. I">
        </div>
        <div class="input-group col-md-4">
            <div class="input-group-prepend">
              <span class="input-group-text">Dist</span>
            </div>
            <input type="text" id="adv_roadDist" class="form-control" placeholder="Miles(opt)">
          </div>
        <!-- <div class="input-group col-md-4">
          <div class="input-group-prepend">
            <span class="input-group-text">GID</span>
          </div>
          <input type="text" id="adv_roadGid" class="form-control" placeholder="OPTIONAL">
        </div> -->
      </div>
      <div class="input-group col-md-12 mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Employees</span>
        </div>
        <input type="text" class="form-control" id="min-emplsize" placeholder="Min">&nbsp;
        <input type="text" class="form-control" id="max-emplsize" placeholder="Max">
      </div>
      <div class="input-group col-md-12 mb-3">

          <div class="input-group-prepend">
            <span class="input-group-text">County</span>
          </div>
          <input type="text" id="countyName" class="form-control" placeholder="e.g. Montgomery">

        <div class="input-group col-md-6">
          <div class="input-group-prepend">
            <span class="input-group-text">MPO</span>
          </div>
          <input type="text" id="mpoId" class="form-control" placeholder="e.g. CDTC">
        </div>
      </div>
      <div class="input-group col-md-12 mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Municipality</span>
        </div>
        <input type="text" id="munId" class="form-control" placeholder="e.g. Hudson">
        <div class="col-md-3 input-group">
          <div class="dropdown dropdown-btn">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownSalesVolume"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sales Volume
            </button>
            <ul class="dropdown-menu" id="salesvolume-dropdown" aria-labelledby="dropdownSalesVolume">
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-12 mb-3 dropdown">

          <!-- <div class="col-md-6 dropdown"> -->
            <button class="btn btn-block btn-secondary dropdown-toggle" type="button" id="adv_MATCHCD_button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              MATCH LEVEL CODE
            </button>
            <ul class="dropdown-menu" id="adv_MATCHCD"></ul>
          <!-- </div> -->

      </div>
      <div class="col-md-12">
        <button class="btn btn-primary btn-md ml-auto" id="advsearch-button" type="submit">Search</button>
        <button class="btn btn-secondary btn-md ml-auto" id="advsearch-resetBtn">Reset</button>&nbsp;<label
          id="search-message">*No
          match found</label>
      </div>
    </div>
  </div>
  <div class='statisticsContainer'>
    <div class="container-fluid overflow-y-auto">
      <div class="text-sm-left">
        <a href="javascript:void(0)" class="btn btn-link statisticsContainerButton">Back to map</a>
      </div>
      <div class="search-description">
        <h4>Default</h4>
        <p>test</p>
      </div>
      <div class="card-container pb-2">
        <div class="row">
        </div>
      </div>
      <div class="row pb-2">
        <div class="col-sm-12 col-lg-6">
          <button class="btn btn-outline-info hist_btn1">Company distribution</button>
          <button class="btn btn-outline-info hist_btn2">Employee Distribution</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-lg-6">
          <div id="hist">
            <!-- <svg preserveAspectRatio="xMinYMin meet" viewBox="0 0 600 400" class="svg-content-responsive"></svg> -->
          </div>
        </div>
        <div class="col-sm-12 col-lg-6">
        </div>
      </div>
    </div>
  </div>
  <div class="legendContainer">
  </div>
</body>
<!-- SOURCES -->
<%include ./partials/sources.ejs %>
<script type="text/javascript"
  src="https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.4/b-html5-1.5.4/datatables.min.js"></script>
<script type="text/javascript"
  src="https://cdn.datatables.net/plug-ins/1.10.20/features/pageResize/dataTables.pageResize.min.js"></script>
<script type="text/javascript"
  src="https://cdn.datatables.net/plug-ins/1.10.20/features/scrollResize/dataTables.scrollResize.min.js"></script>
  <script type="text/javascript"
  src="https://cdn.datatables.net/scroller/2.0.1/js/dataTables.scroller.min.js"></script>
  
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js"
  integrity="sha384-THVO/sM0mFD9h7dfSndI6TS0PgAGavwKvB5hAxRRvc0o9cPLohB0wb/PTA7LdUHs" crossorigin="anonymous"></script>
<script src="https://d3js.org/d3.v5.js"></script>
<script src="/js/src/d3pie.js"></script>
<script src="/js/src/leaflet.markercluster.js"></script>
<script src="/js/src/leaflet.editable.min.js"></script>
<script src="/js/src/jszip.min.js"></script>
<script src="/js/src/FileSaver.min.js"></script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"></script>
<script src="/js/src/html2canvas.min.js"></script>
<script src="/js/src/leaflet-measure-path.js"></script>

<!-- UTILS -->
<script src="/js/utils/convertDomToImage.js"></script>
<script src="/js/utils/loadDatatable.js"></script>
<script src="/js/utils/loadPieChart.js"></script>
<script src="/js/utils/loadHistogram.js"></script>
<script src="/js/utils/loadMarkers.js"></script>
<script src="/js/utils/locatePointByCoordinate.js"></script>

<!-- SCRIPTS -->
<script src="/js/infogroup.js"></script>
<script src="/js/map.js"></script>
<script src="/meta/naicsKeys.js"></script>
<script src="/meta/matchCDKeys.js"></script>
<script src="/js/loadDropdown.js"></script>
<script src="/js/loadAutoComplete.js"></script>
<script src="/js/loadEditModal.js"></script>
<script src="/js/loadLegend.js"></script>
<script src="/js/loadEstablishments.js"></script>
<script src="/js/exportData.js"></script>
<script src="/js/loadNearbyRoads.js"></script>
<script src="/js/editing/sendBusinessEdit.js"></script>

<!-- INIT -->
<script src="/js/init.js"></script>
<%include ./partials/footer.ejs %>